.banner {
  border: 2px solid rgb(181, 181, 181);
  border: 2px solid rgb(211, 211, 211);
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  text-align: left;
  font-size: 15px;
  padding: 10px;
}

.banner:hover {
  background-color: rgb(248, 248, 248);
}

.bannerTitle {
  font-size: 20px;
  color: #6daec7;
}

.highlighted {
  border: 2px solid rgb(235, 204, 66);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}