
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.titleANDdescription {
  margin-bottom: 10px;
}

.projectSkills {
  text-align: left;
}

.applyContainer {
  margin-bottom: 30px;
}

.skillsContainer {
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
}

.progressANDcommits {
    background-color: rgb(240, 240, 240);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
}

Form Button {
  width: 100%;
}

h2 {
  color: #313131;
}

h6 {
  color: greenyellow;
}

hr.line {
  border: 1px solid #313131;
  width: 175px;
}

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}

.lobby {
  width: 400px;
  margin: auto;
}

.chat {
  display: grid;
  overflow: scroll;

}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  float: left;
  background-color: #313131;
  color:white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  height: 400px;    
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 2px;
}

.user-message {
  text-align: right;
  padding-right: 5px;
  font-size: 18px;
}

.message {
  display: inline-flex;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 18px;
  color:white;
  border-radius: 20px;
  margin-top: 3px;
}

.from-user {
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}

.applicants:hover {background-color: #e9e9e9;}

.applicants, .applicant-info, .table-header {
	border: 1px solid black;
}

.applicant-info {
	text-align: left;
	padding-left: 1%;
}

.applicants-table {
	border: 2px solid black;
	margin-left: 3%;
}
